.cycles {

}

.cycleDots {
    display: flex;
    margin: 1rem;
    gap: 0.8rem;
}

.cycleDot {
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: var(--primary);
    border-radius: 50%;
}

.workTime {
    background: var(--warning);
}

.shortBreakTime {
    background: var(--primary);
}

.longBreakTime {
    background: var(--info);
}